<div class="card-body">
  <form #admissionForm="ngForm">
    <dl>
      <dt>
        <label required for="language">{{ languageLabel }}</label>
      </dt>
      <dd>
        <div class="container">
          <select [(ngModel)]="language"
            id="language"
            required
            name="language"
            (change)="revalidate()">
            <option *ngFor="let languageItem of languages" [value]="languageItem">
              {{ languageItem }}
            </option>
          </select>
          <div class="dropdown-toggle"></div>
        </div>
      </dd>
      <dt>
        <label required for="time-zone">{{ timeZonesLabel }}</label>
      </dt>
      <dd class="last-in-group">
        <div class="container">
          <select [(ngModel)]="timeZone"
            id="time-zone"
            required
            name="timeZone"
            (change)="revalidate()">
            <option *ngFor="let timeZoneItem of timeZones" [value]="timeZoneItem">
              {{ timeZoneItem }}
            </option>
          </select>
          <div class="dropdown-toggle"></div>
        </div>
      </dd>
    </dl>
    <p class="title-copy">{{ subTitle }}</p>
    <div class="half-width-inputs">
      <dl>
        <dt>
          <label required for="work-hours-start">{{ workHoursStartLabel }}</label>
        </dt>
        <dd>
          <div class="container">
            <select [(ngModel)]="workHoursStart"
              id="work-hours-start"
              required
              name="workHoursStart"
              (change)="revalidate()">
              <option *ngFor="let time of timePickerMock" [value]="time">
                {{ time }}
              </option>
            </select>
            <div class="dropdown-toggle"></div>
          </div>
        </dd>
      </dl>
      <dl>
        <dt>
          <label required for="work-hours-end">{{ workHoursEndLabel }}</label>
        </dt>
        <dd>
          <div class="container">
            <select [(ngModel)]="workHoursEnd"
              id="work-hours-end"
              required
              name="workHoursEnd"
              (change)="revalidate()">
              <option *ngFor="let time of timePickerMock" [value]="time">
                {{ time }}
              </option>
            </select>
            <div class="dropdown-toggle"></div>
          </div>
        </dd>
      </dl>
    </div>
  </form>
</div>
