<div class="card-body">
  <dl class="dropdown required">
    <dt class="input-label">
      <label autocapitalize="off" maxlength="100" required="required" for="language">{{ languageLabel }}</label>
    </dt>
    <dd>
      <div class="container">
        <div #langSelected>{{ languages[0] }}</div>
        <div class="dropdown-toggle" (click)="languagesExpanded=true"></div>
      </div>
      <ul class="drawer" *ngIf="languagesExpanded">
        <li *ngFor="let language of languages">
          <a href="#" (click)="langSelected.innerText=$event.target.innerText; languagesExpanded=false; $event.preventDefault();">
            {{ language }}
          </a>
        </li>
      </ul>
    </dd>
  </dl>
  <dl class="dropdown required last-in-group">
    <dt class="input-label">
      <label autocapitalize="off" maxlength="100" required="required" for="language">{{ timeZonesLabel }}</label>
    </dt>
    <dd>
      <div class="container">
        <div #timeZoneSelected>{{ timeZones[0] }}</div>
        <div class="dropdown-toggle" (click)="timeZonesExpanded=true"></div>
      </div>
      <ul class="drawer" *ngIf="timeZonesExpanded">
        <li *ngFor="let timeZone of timeZones">
          <a href="#" (click)="timeZoneSelected.innerText=$event.target.innerText; timeZonesExpanded=false; $event.preventDefault();">
            {{ timeZone }}
          </a>
        </li>
      </ul>
    </dd>
  </dl>
  <p class="title-copy">{{ subTitle }}</p>
  <div class="half-size-inputs">
    <dl class="dropdown required half-size">
      <dt class="input-label">
        <label autocapitalize="off" maxlength="100" required="required" for="language">{{ workHoursStartLabel }}</label>
      </dt>
      <dd>
        <div class="container">
          <div #workHoursStart>{{ timePickerMock[0] }}</div>
          <div class="dropdown-toggle" (click)="workHoursStartExpanded=true"></div>
        </div>
        <div class="scroll-container">
          <ul class="drawer" *ngIf="workHoursStartExpanded">
            <li *ngFor="let time of timePickerMock">
              <a href="#"
                (click)="workHoursStart.innerText=$event.target.innerText; workHoursStartExpanded=false; $event.preventDefault();">
                {{ time }}
              </a>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
    <dl class="dropdown required half-size">
      <dt class="input-label">
        <label autocapitalize="off" maxlength="100" required="required" for="language">{{ workHoursEndLabel }}</label>
      </dt>
      <dd>
        <div class="container">
          <div #workHoursEnd>{{ timePickerMock[0] }}</div>
          <div class="dropdown-toggle" (click)="workHoursEndExpanded=true"></div>
        </div>
        <div class="scroll-container">
          <ul class="drawer" *ngIf="workHoursEndExpanded">
            <li *ngFor="let time of timePickerMock">
              <a href="#"
                (click)="workHoursEnd.innerText=$event.target.innerText; workHoursEndExpanded=false; $event.preventDefault();">
                {{ time }}
              </a>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
  </div>
</div>