<div class="card-body">
  <dl>
    <dt>
      <label class="term-title">{{ organizationCareerTracksHeading }}</label>
    </dt>
    <dd class="input chip" *ngFor="let track of organizationCareerTracks; let i = index;">
      <label>{{ track }}</label>
      <div class="overlay">
        <button type="button" (click)="removeTrack(i)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </dd>
    <div class="add-item disabled">
      <div class="button-container">
        <div class="icon">
          <div class="combined-shape">
          </div>
        </div>
        {{ addCareerTrackText }}
      </div>
    </div>
    <form #admissionForm="ngForm">
      <dt>
        <label class="term-title">{{ setupBandsAndGradesHeading }}</label>
      </dt>
      <div class="radio-group">
        <div class=float-block>
          <input type="radio" name="grade-types" id="grade-per-band" value="non-custom" (change)="gradeTypeChange($event)" [checked]="gradeType === 'non-custom'" />
          <label for="grade-per-band">{{ gradeRadios[0] }}</label>
        </div>
        <div class=float-block>
          <input type="radio" name="grade-types" id="custom-grade" value="custom" (change)="gradeTypeChange($event)" [checked]="gradeType === 'custom'" />
          <label for="custom-grade">{{ gradeRadios[1] }}</label>
        </div>
      </div>
      <dd class="input chip">
        <label for="grade-coding">{{ gradeCoding.text }}</label>
        <span class="input-group border">
          <input id="grade-coding"
            name="grade-coding"
            class="value"
            type="text"
            autocomplete="off"
            (input)="revalidate()"
            [(ngModel)]="gradeCoding.value" />
        </span>
      </dd>
      <div class="chip-container" *ngFor="let band of bands; let i = index;">
        <p *ngIf="gradeType === 'custom'" class="title-copy title-copy-6">{{ cusomGradeBandLabel + (i + 1) }}</p>
        <dd class="input chip">
          <label class="required" [for]="'band-' + (i + 1)">{{ band.text }}</label>
          <div *ngIf="gradeType === 'custom'" class="overlay" [class.hidden]="hideRemoveButton()">
            <button type="button" (click)="removeBand(i)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
          <span class="input-group border">
            <input required
              [id]="'band-' + (i + 1)"
              [name]="'band-' + (i + 1)"
              class="value"
              type="text"
              autocomplete="off"
              (input)="revalidate()"
              [(ngModel)]="band.value" />
          </span>
        </dd>
      </div>
      <dd *ngIf="gradeType === 'non-custom'" class="input chip">
        <label class="required" for="per-band">{{ gradePerBand.text }}</label>
        <span class="input-group border">
          <input required
            id="per-band"
            name="per-band"
            class="value"
            type="text"
            autocomplete="off"
            (input)="revalidate()"
            [(ngModel)]="gradePerBand.value" />
        </span>
      </dd>
      <div *ngIf="gradeType === 'custom'"
        class="add-item"
        (click)="addBand()">
        <div class="button-container">
          <div class="icon">
            <div class="combined-shape">
            </div>
          </div>
          {{ addBandText }}
        </div>
      </div>
    </form>
  </dl>
</div>
