<div class="card-body">
  <dl>
    <dt>
      <label class="term-title">{{ organizationCareerTracksHeading }}</label>
    </dt>
    <dd class="input chip" *ngFor="let track of organizationCareerTracks">
      <input
        autocomplete="off"
        type="text"
        [value]="track" />
        <div class="overlay">
          <button class="remove-item" type="button">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
    </dd>
    <div class="add-item">
      <div class="button-container">
        <div class="icon">
          <div class="combined-shape">
          </div>
        </div>
        {{ addCareerTrackText }}
      </div>
    </div>
    <form #admissionForm="ngForm">
      <dt>
        <label class="term-title">{{ setupBandsAndGradesHeading }}</label>
      </dt>
      <dd>

      </dd>
      <div class="add-item">
        <div class="button-container">
          <div class="icon">
            <div class="combined-shape">
            </div>
          </div>
          {{ addBandText }}
        </div>
      </div>
    </form>
  </dl>
</div>
