@mixin clearfix {
  &::after {
    content: " ";
    display: table;
    clear: both;
  }
}

.header {
  height: 144px;
  background-image: url("../../assets/Full.svg");
  background-size: 276px;
  background-position: 144px 48px;
  background-repeat: no-repeat;
}

.progress {
  height: 2px;
  border-radius: 12px;
  background-color: #fff;
  opacity: 0.1;

  &.left {
    position: relative;
    top: -2px;
    width: 250px;
    background-color: #e61e50;
    opacity: 1;
  }
}

.wizard-card-modal {
  height: 617px;
  width: 564px;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  color: #1e1e1e;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;

  .card-header {
    box-sizing: border-box;
    height: 183px;
    width: 564px;
    padding: 24px 48px 32px;
    display: table;
    border-bottom: 1px solid #f0f0f0;

    .header-text {
      height: 44px;
      width: 468px;
      font-size: 14px;
      line-height: 22px;
      display: table-row;
      vertical-align: bottom;
    }

    .header-title {
      font-weight: 600;
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 8px;
    }

    .header-gauge {
      width: 176px;
      height: 24px;

      .marker {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #e6e6e6;
        float: left;
        margin-top: 8px;
        &:not(:last-child) {
          margin-right: 8px;
        }

        &.set {
          background-color: #dc1e50;
        }
      }

      .line {
        height: 1px;
        width: 32px;
        background-color: #e6e6e6;
        float: left;
        margin: 12px 8px auto auto;
      }

      @include clearfix;
    }
  }

  .card-footer {
    box-sizing: border-box;
    height: 64px;
    width: 564px;
    border-radius: 0 0 4px 4px;
    background-color: #fafafa;
    padding: 16px;

    .button {
      float: right;
      height: 32px;
      width: 120px;
      border-radius: 4px;
      border: none;
      background-color: #f0f0f0;
      color: #1e1e1e;
      opacity: 0.6;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      vertical-align: center;
      margin-left: 16px;
      font-weight: 600;
      cursor: pointer;

      &.primary {
        background-color: #dc1e50;
        color: #ffffff;
        opacity: 1;
        font-weight: bold;

        &.disabled {
          opacity: 0.3;
        }
      }

      &.skip {
        float: left;
        margin: 0;
        background-color: #fafafa;
      }
    }

    @include clearfix;
  }
}
