<nav class="header">
  <ren-completion-badge></ren-completion-badge>
</nav>
<div class="progress"></div>
<div class="progress left"></div>
<div class="wizard-card-modal">
  <div class="card-header">
    <div class="header-title">{{ step.getStepName() }}</div>
    <div class="header-gauge">
      <div *ngFor="let m of markers, let i = index">
        <div class="marker" [class.set]="isCurrentStep(i)"></div>
        <div class="line" *ngIf="markers.length !== i + 1"></div>
      </div>
    </div>
    <div class="header-text">{{ step.getHeaderText() }}</div>
  </div>
  <ren-org-step-one *ngIf="step.getStepIndex() + 1 === 1"></ren-org-step-one>
  <ren-org-step-two *ngIf="step.getStepIndex() + 1 === 2"></ren-org-step-two>
  <div class="card-footer">
    <button type="button" class="button primary" (click)="advance()" [class.disabled]="">{{ step.getNextButtonText() | uppercase }}</button>
    <button type="button" class="button" (click)="retreat()" *ngIf="step.hasBackButton()">{{ step.getBackButtonText() | uppercase }}</button>
    <button type="button" class="button skip" *ngIf="step.allowSkipOver()">{{ step.getSkipButtonText() | uppercase }}</button>
  </div>
</div>
