<div class="card-body">
  <form #admissionForm="ngForm">
    <dl>
      <dt>
        <label required for="organization-name">{{ organizationNameLabel }}</label>
      </dt>
      <dd class="input">
        <input [(ngModel)]="organizationName"
          name="organizationName"
          id="organization-name"
          required
          [placeholder]="organizationNameHint"
          type="text"
          (input)="revalidate()"
          [class.greyed-out]="!organizationName" />
      </dd>
      <dt>
        <label required for="industry">{{ industryLabel }}</label>
      </dt>
      <dd>
        <div class="container">
          <select [(ngModel)]="industry"
            id="industry"
            required
            name="industry"
            (change)="revalidate()">
            <option *ngFor="let industry of industries"
              [value]="industry.id">
              {{ industry.text }}
            </option>
          </select>
          <div class="dropdown-toggle"></div>
        </div>
      </dd>
      <dt>
        <label for="description">{{ descriptionLabel }}</label>
      </dt>
      <div class="description">
        <textarea rows="5"
          cols="50"
          [(ngModel)]="description"
          name="description"
          [placeholder]="descriptionHint"
          [class.greyed-out]="!description">
        </textarea>
      </div>
    </dl>
  </form>
</div>
