<div class="card-body">
  <form #admissionForm="ngForm">
    <dl>
      <dt>
        <label required for="organization-name">{{ organizationNameLabel }}</label>
      </dt>
      <dd>
        <input [(ngModel)]="organizationName"
          #organizationNameModel="ngModel"
          name="organizationName"
          id="organization-name"
          [placeholder]="organizationNameHint"
          type="text"
          (input)="revalidate()"
          [class.greyed-out]="organizationNameModel.value === ''" />
      </dd>
      <dt>
        <label required for="industry">{{ industryLabel }}</label>
      </dt>
      <dd>
        <div class="container">
          <select
            id="industry"
            retuired
            min="1"
            name="industry"
            (change)="revalidate()">
            <option *ngFor="let industry of industries"
              [value]="industry.id"
              [selected]="industry.id === 0">
              {{ industry.text }}
            </option>
          </select>
          <div class="dropdown-toggle"></div>
        </div>
      </dd>
      <dt>
        <label for="organization-name">{{ descriptionLabel }}</label>
      </dt>
      <div class="description">
        <textarea rows="5"
          cols="50"
          [(ngModel)]="description"
          #descriptionModel="ngModel"
          name="description"
          [placeholder]="descriptionHint"
          [class.greyed-out]="descriptionModel.value === ''">
        </textarea>
      </div>
    </dl>
  </form>
</div>
