@mixin less-opaque {
  opacity: 0.3;
}

@mixin container {
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #969696;
  border-radius: 4px;
  height: 41px;
  width: 100%;
  background-color: inherit;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  padding: 7px 16px 8px;
}

:host {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.card-body {
  padding: 32px 48px 40px;
  color: #1e1e1e;

  dl {
    margin: 0;

    dt {
      height: 26px;
      vertical-align: middle;

      label {
        height: 26px;
        line-height: 22px;
        font-size: 14px;

        &[required]:after {
          padding-left: 5px;
          color: #dc1e50;
          content: "*";
        }

        &.term-title {
          font-weight: 600;
          line-height: 26px;
          font-size: 16px;
        }
      }

      + .add-item {
        margin-top: 16px;
      }
    }

    dd {
      @include container;

      &:not(:last-of-type) {
        margin-bottom: 25px;
      }

      &:last-of-type {
        margin-bottom: 24px;
      }

      &.last-in-group {
        margin: 0 0 43.07px;
      }

      &.input {
        height: 40px;
      }

      input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        border: none;
        outline: none;
        width: 100%;

        &.greyed-out {
          @include less-opaque;
        }

        &.inline {
          width: auto;
        }
      }

      &.chip {
        border: none;
        background-color: #fafafa;
        margin: 16px 0 0;
        position: relative;
        cursor: pointer;

        + .chip {
          margin-top: 8px;
        }

        &:last-of-type {
          margin-bottom: 16px;
        }

        &:last-child {
          margin: 8px 0 0;
        }

        &:hover {
          background-color: #f0f0f0;

          input + .overlay {
            display: block;
          }
        }

        input {
          background-color: inherit;
          cursor: pointer;

          + .overlay {
            position: absolute;
            display: none;
            height: 26px;
            top: 7px;
            left: 0;
            width: 100%;
            padding-right: 20px;
            box-sizing: content-box;
            background-color: rgba(0, 0, 0, 0);

            button {
              border: none;
              padding: 0;
              background: 0 0;
              cursor: pointer;
              color: #969696;
              height: 16px;
              width: 16px;
              vertical-align: middle;
              font-size: 12px;
              position: absolute;
              top: 3px;
              right: 0;
            }
          }
        }

        label[required]:after {
          padding-left: 4px;
          color: #dc1e50;
          content: "*";
        }
      }

      .dropdown-container {
        display: flex;
        justify-content: center;

        > select {
          flex: 1 0 auto;
          font-family: inherit;
          font-size: inherit;
          border: none;
          outline: none;
        }

        > .dropdown-toggle {
          content: url("../../../assets/ArrowDown.svg");
          flex: 0 0 10px;
          cursor: pointer;
          margin-top: 2px;
        }
      }
    }

    .chip-container {
      dd.chip {
        margin-top: 8px;
      }
    }

    .add-item {
      padding: 4px 8px 4px 8px;
      margin-bottom: 32px;
      display: inline-block;
      cursor: pointer;

      .button-container {
        padding: 2px 0 2px 24px;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        vertical-align: middle;
        position: relative;

        .icon {
          position: absolute;
          left: 0;
          top: 0;
          height: 16px;
          width: 16px;
          background-color: #f0f0f0;
          border-radius: 8px;

          .combined-shape {
            position: absolute;
            top: 3px;
            left: 3px;
            height: 10px;
            width: 10px;
            border-radius: 1px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 40%, #969696 40% 60%, rgba(0, 0, 0, 0) 60%),
              linear-gradient(0deg, rgba(0, 0, 0, 0) 40%, #969696 40% 60%, rgba(0, 0, 0, 0) 60%);
          }
        }
      }

      &.disabled {
        @include less-opaque;
        cursor: auto;
      }

      &:last-child {
        margin: 16px 0 0;
      }
    }

    .description {
      @include container;
      height: 120px;
      padding-right: 8px;

      textarea {
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        font-size: inherit;
        font-family: inherit;

        &.greyed-out {
          @include less-opaque;
        }
      }
    }

    .title-copy {
      font-weight: 600;
      font-size: 16px;
      line-height: 10.56px;
      margin: 0 0 20.37px;

      &.title-copy-6 {
        height: 22px;
        width: 42px;
        font-size: 14px;
        line-height: 22px;
        margin: 16px 0 0;

        + dd {
          margin-top: 8px;
        }
      }
    }

    .radio-group {
      .float-block {
        margin: 16px 24px 0 0;
        width: 128px;
        height: 26px;
        color: #1e1e1e;
        font-size: 16px;
        line-height: 26px;
        float: left;

        input {
          width: 16px;
          height: 16px;
          margin: 5px 0;
        }

        label {
          margin-left: 8px;
          vertical-align: top;
        }
      }

      &::after {
        display: table;
        clear: left;
        content: "";
      }
    }
  }

  div.half-width-inputs {
    display: flex;
    justify-content: space-between;

    dl {
      flex: 0 0 218px;

      > dd {
        min-height: 40px;
        height: 40px;
        padding: 7px 16px 7px;
      }
    }
  }
}
