/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

html {
  background-color: #281e3c;

  body {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
  }
}