.badge {
  width: 220px;
  height: 51px;
  padding-top: 3px;
  position: absolute;
  right: 144px;
  top: 43px;
  font-family: "Source Sans Pro";
  color: #fff;
  &::after {
    content: " ";
    display: table;
    clear: both;
  }

  .step {
    float: left;
    width: 139px;
    height: 26px;
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    &.status {
      height: 30px;
      font-weight: normal;
      opacity: 0.6;
      font-size: 12px;
      line-height: 30px;
      margin-top: -8px;
      position: relative;
      &::before {
        position: absolute;
        left: 25px;
        top: 2px;
        content: url("../../../assets/Default.svg");
      }
    }
  }

  .percentage {
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    width: 56px;
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 24px;
    line-height: 48px;
  }

  .spacer {
    height: 27px;
    width: 2px;
    opacity: 0.2;
    background-color: #fff;
    position: absolute;
    left: 156px;
    top: 13px;
  }
}
